<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title id="page_title"> comm.prod </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!--  styles -->
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="css/bootstrap-responsive.min.css" />
        <link type="text/css" rel="stylesheet" href="css/popup.css" />
        <link type="text/css" rel="stylesheet" href="http://burtonthird.com/public/css/base.css" />
        <link type="text/css" rel="stylesheet" href="http://burtonthird.com/public/css/home.css" />
        <link type="text/css" rel="stylesheet" href="http://burtonthird.com/public/css/login.css" />
    </head>
  
    <body>
        <div class="nav-container"></div>

        <div class="container">
            <div class="subnav-container"></div>
            <div class="content-container"></div>
            <div class="modal fade hide" id="claim-email-modal" data-email="">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Are you sure you want to claim <span class="replace-email"></span>?</h3>
              </div>
              <div class="modal-body">
                <p>We'll send an email to <span class="replace-email"></span> to confirm you are the owner of that email.</p>
              </div>
              <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                <a id="email-claim-confirm" class="btn btn-primary">Yes!</a>
              </div>
            </div>
        </div>
        
        <!-- BEGIN: Underscore Template Definition. -->
        
        <!-- Nav template -->
        <script type="text/template" id="nav_template">

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner nav-bg">
                <a class="brand" href="<%= baseUrl %>">
                    a <img class="logo" src="img/btb-logo.png"/> comm.prod
                </a>
                <ul class="nav topbar">
                    <li>
                        <a href="http://blog.burtonthird.com">Blog</a>
                    </li>
                    <% if( loggedIn ) { %>
                        <li id="home_tab" class="nav-tab">
                            <a href="#home">comm.prod</a>
                        </li>
                        <li>
                             <a href="<%= baseUrl %>/donations/donate">Donate</a>
                        </li>
                        <li id="settings_tab" class="nav-tab">
                            <a href="#settings">Settings</a>
                        </li>
                        <li>
                            <a href="#logout">Logout</a>
                        </li>
                    <%} else {%>
                        <li id="login_tab" class="nav-tab">
                            <a href="#login">Login</a>
                        </li>
                    <% } %>
            </div>
        </div>

        </script>

        <!-- Subnav template -->
        <script type="text/template" id="subnav_template">

            <div class="span2 offset1 search-nav">
                <ul class="nav nav-pills">
                    <li id="recent_tab" class="subnav-tab">
                        <a class="recent" href="#recent_tab">
                            <i class="icon-time"></i> 
                            Recent
                        </a>
                    </li>
                    <li id="trending_tab" class="subnav-tab">
                        <a class="nav-pills trending" href="#trending_tab">
                            <i class="icon-signal"></i> 
                            Trending
                        </a>
                    </li>
                    <li id="media_tab" class="subnav-tab">
                        <a class="media" href="#media_tab">
                            <i class="icon-play "></i> 
                            Media
                        </a>
                    </li>
                    <li id="best_tab" class="subnav-tab">
                        <a class="best" href="#best_tab">
                            <i class="icon-heart"></i> 
                            Best
                        </a>
                    </li>
                    <li id="worst_Tab" class="subnav-tab">
                        <a class="best" href="#worst_Tab">
                            <i class="icon-remove"></i> 
                            Worst
                        </a>
                    </li>
                </ul>
            </div>

        </script>

        <!-- Login template -->
        <script type="text/template" id="login_template">

             <div class="row">
                <div id="login_container" class="offset2 span4 well">
                    <div id="errors" class="alert alert-error"></div>
                    <p>
                        <input id="id_username" type="text" placeholder="Username or Email" name="username" maxlength="30" />
                    </p>
                    <p>
                        <input type="password" placeholder="Password" name="password" id="id_password" />
                    </p>

                    <input class="btn btn-warning" data-loading-text="Loading..." id="login" type="submit" value="Login" />
                    <a href="/reset_password"> Forgot Password? </a> 

                    <input type="hidden" name="next" value="" />
                </div>
            </div>

        </script>

        <!-- Timeline template -->
        <script type="text/template" id="timeline_template">

            <div class="commprod-timeline-container">
                <div class="commprod-timeline well">
                    <div class="loading-container">
                        <img class="loading" src='<%= baseUrl %>/public/img/loading.gif'/>
                    </div> 
                </div>
            </div>

        </script>

        <!-- END: Underscore Template Definition. -->

        <!--  javascript -->
        <script type="text/javascript" src="libs/jquery-1.8.2.js"></script>
         <script type="text/javascript" src="libs/jquery.cookie.js"></script>
        <script type="text/javascript" src="libs/underscore.js"></script>
        <script type="text/javascript" src="libs/backbone.js"></script>
        <script type="text/javascript" src="libs/bootstrap-tooltip.js"></script>
        <script type="text/javascript" src="libs/bootstrap-popover.js"></script>
        <script type="text/javascript" src="libs/sprintf-0.7-beta1.js"></script>
        <script type="text/javascript" src="js/popup.js"></script>
        <script type="text/javascript" src="js/vote.js"></script>
    </body>
</html>