<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title id="page_title"> comm.prod </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!--  styles -->
        <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="css/bootstrap-responsive.min.css" />
        <link type="text/css" rel="stylesheet" href="css/popup.css" />
        <link type="text/css" rel="stylesheet" href="http://burtonthird.com/public/css/base.css" />
        <link type="text/css" rel="stylesheet" href="http://burtonthird.com/public/css/home.css" />
    </head>
  
    <body>
        <div class="nav-container"></div>

        <div class="container">
            <div class="subnav-container"></div>
            <div class="content-content"></div>
        </div>
        
        <!-- BEGIN: Underscore Template Definition. -->
        
        <!-- Nav template -->
        <script type="text/template" id="nav_template">

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner nav_bg">
                <a class="brand" href=" <%= baseUrl %>">
                    a <img class="logo" src="<%= baseUrl %>public/img/btb-logo.png"/> comm.prod
                </a>
                <ul class="nav topbar">
                    <li>
                        <a href="http://blog.burtonthird.com">Blog</a>
                    </li>
                    <li id="home_tab" class="nav-tab">
                        <a href="#home">comm.prod</a>
                    </li>
                    <li>
                         <a href="<%= baseUrl %>/donations/donate">Donate</a>
                    </li>
                    <li id="settings_tab" class="nav-tab">
                        <a href="#settings">Settings</a>
                    </li>
                    <li>
                        <a href="#logout">Logout</a>
                    </li>
            </div>
        </div>

        </script>

        <!-- Subnav template -->
        <script type="text/template" id="subnav_template">

            <div class="span2 offset1 search-nav">
                <ul class="nav nav-pills">
                    <li id="recent_tab" class="subnav-tab">
                        <a class="recent">
                            <i class="icon-time"></i> 
                            Recent
                        </a>
                    </li>
                    <li id="trending_tab" class="subnav-tab">
                        <a class="trending">
                            <i class="icon-signal"></i> 
                            Trending
                        </a>
                    </li>
                    <li id="media_tab" class="subnav-tab">
                        <a class="media">
                            <i class="icon-play "></i> 
                            Media
                        </a>
                    </li>
                    <li id="best_tab" class="subnav-tab">
                        <a class="best">
                            <i class="icon-heart"></i> 
                            Best
                        </a>
                    </li>
                </ul>
            </div>

        </script>

        <!-- Login template -->
        <script type="text/template" id="login_template">

            <div id="login_container" class="offset2 span4">
                <div id="errors" class="alert alert-error"></div>
                <input id="id_username" type="text" name="username" maxlength="30" placeholder="Username or Email">
                <input type="password" name="password" id="id_password" placeholder="Password">
                <input class="btn btn-warning" id="login" type="submit" value="Login" data-loading-text="Loading..."/> 
                <a href="<%= baseUrl %>reset_password">
                    Forgot password? 
                </a>
            </div> 

        </script>

        <!-- Timeline template -->
        <script type="text/template" id="timeline_template">

            <div class="commprod-timeline-container">
                <div class="commprod-timeline well">
                    <div class="loading-container">
                        <img class="loading" src='<%= baseUrl %>/public/img/loading.gif'/>
                    </div> 
                </div>
            </div>

        </script>

        <!-- END: Underscore Template Definition. -->

        <!--  javascript -->
        <script type="text/javascript" src="libs/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="libs/underscore.js"></script>
        <script type="text/javascript" src="libs/backbone.js"></script>
        <script type="text/javascript" src="libs/bootstrap.js"></script>
        <script type="text/javascript" src="libs/sprintf-0.7-beta1.js"></script>
        <script type="text/javascript" src="js/popup.js"></script>
        <!--<script type="text/javascript" src="/public/js/base.js"></script>
        <script type="text/javascript" src="/public/js/commprod/home.js"></script> -->
    </body>
</html>