<div class="navbar navbar-fixed-top">
    <div class="navbar-inner nav_bg">
        <a class="brand" href="<% baseURL %>">
            a <img class="logo" src="<% baseURL %>public/img/btb-logo.png"/> comm.prod
        </a>
        <ul class="nav topbar">
            <li class="<% nav_blog %>">
                <a href="http://blog.burtonthird.com">Blog</a>
            </li>
        {% if user.is_authenticated %}
            <li class="<% nav_commprod %>">
                <a href="/">comm.prod</a>
            </li>

            <li class="<% nav_profile %>">
                <a id="user_prof" href=/users/<%user.username%>>Profile</a>
            </li>
            <li class="<% nav_donate %>">
                 <a href="/donations/donate">Donate</a>
            </li>
    </div>
</div>