<div class="span2 offset1 search-nav">
    <ul class="nav nav-pills">
        <li class={{ subnav_recent }}>
            <div class="recent">
                <i class="icon-time"></i> 
                Recent
            </div>
        </li>
        <li class={{ subnav_trending }}>
            <div class="trending">
                <i class="icon-signal"></i> 
                Trending
            </div>
        </li>
        <li class={{ subnav_media }}>
            <div class="media">
                <i class="icon-play "></i> 
                Media
            </div>
        </li>
        <li class={{ subnav_best }}>
            <div class="best">
                <i class="icon-heart"></i> 
                Best
            </div>
        </li>
    </ul>
</div>